body{
  background: #F1EDEE;
  text-align: center;
  padding: 0;
  color: #000000;
  margin: 0;
}
#content {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin:auto;
}
section {
  align-content: center;
  display: block;
}
h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
a{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
li{
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  padding: 10px;
  color: #DB5461;
}
nav{
  background: #000000;
  display: block;
}
nav ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0px;
}
nav li {
  display: block;
  width: 90%;
  height: 33.333333%;
  float: left;
  font-size: 1rem;
  box-sizing: border-box;
  text-align: center;
}
nav a {
  color: #F1EDEE;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}
.active {
  color: #000000;
  background: #F1B82D
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activephoto, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.resume{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.portfolio{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: inherit;
}
.link{
  text-decoration: none;
  color: #000000;
  text-decoration: underline;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
