body{
  background: #686963;
  width: 90%;
  max-width: 600px;
  margin: auto;
  margin-top: 3rem;
}
h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
p{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
li{
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}
img {width: 50%;}
