body{
  background: #686963;
  text-align: center;
  width: 90%;
  max-width: 600px;
  color: #F1EDEE;
  margin: auto;
  margin-top: 3rem;
}
#content {
  display: block;
  width: 90%;
  max-width: 1000px;
  margin:auto;
}
section {
  align-content: center;
}
h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
p{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
li{
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  padding: 10px;
  color: #DB5461;
}
img {width: auto;}
nav{
  background: #3D5467;
  height: 9rem;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: block;
  width: 90%;
  height: 33.333333%;
  float: left;
  font-size: 1rem;
  box-sizing: border-box;
  text-align: center;
}
